In [1]:
import PyPDF4
import tabula
import os
import pandas as pd

# Crop the Document

In [ ]:
content = PyPDF4.PdfFileReader('content.pdf')
pdf_writer = PyPDF4.PdfFileWriter()
for page in range(9,925):
    pdf_writer.addPage(content.getPage(page))
    
pdf_writer.getNumPages()

output = f'pricing.pdf'
with open(output, 'wb') as output_pdf:
    pdf_writer.write(output_pdf)

# Read the PDF file with tabula

In [68]:
tables = tabula.read_pdf("prices.pdf", pages="10-926")

In [75]:
tables[700].head()

  Sector Unnamed: 0         Cell  Unnamed: 1 Village Unnamed: 2
0    NaN        NaN      Gasharu         555   1,836      2,717
1    NaN        NaN       Gisiza         188     993      4,771
2    NaN        NaN      Gituntu         342   1,984      5,038
3    NaN        NaN  Nyagishumbu         225     944      5,738
4    NaN        NaN       Ruseke         227     953      4,596

# Removing columns with empty values

In [71]:
for table in tables:
    for column in table:
        if table[column].isnull().all():
            del table[column]

In [72]:
tables[198].head()

,Sector,C ell,Village,Land Use,Minimum Value Per Sqm Weighted Average Value Per Sqm Maximum Value Per Sqm
0,Gishamvu,NaN,NaN,NaN,"1,886 4,188 26,781"
1,NaN,N yakibanda,NaN,NaN,"1,886 3,173 26,781"
2,NaN,NaN,K arambo,NaN,"1,886 3,173 26,781"
3,NaN,NaN,NaN,Farm land,"1,886 4,206 26,781"
4,NaN,NaN,NaN,W etland,"1,886 2,139 26,781"

In [73]:
urban = tables[:329]
rural = tables[330:]

In [16]:
def columns(section):
    n_cols = {}
    for index, table in enumerate(section):
        length = len(list(table.columns))
        if str(length) in n_cols.keys():
            n_cols[str(length)].append(index)
        else:
            n_cols[str(length)] = [index]  
    return n_cols

In [17]:
rural_col_size = columns(rural)
urban_col_size = columns(urban)

In [18]:
print(urban_col_size.keys(), rural_col_size.keys())

dict_keys(['7', '6', '5']) dict_keys(['6', '5', '4'])

In [76]:
len(tables)

916

In [82]:
tables[100]

,Cell,Village,Land Use,Minimum Value Per Sqm,Weighted Average Value Per Sqm,Maximum Value Per Sqm,District
0,NaN,NaN,Plantation,"10,273","12,569","33,908",Kicukiro
1,NaN,Nyabikenke,NaN,"23,217","25,294","41,105",Kicukiro
2,NaN,NaN,Plantation,"23,217","25,294","41,105",Kicukiro
3,NaN,Rwamaya,NaN,"9,544","15,698","34,343",Kicukiro
4,NaN,NaN,Farm Land (General),"9,544","15,128","33,623",Kicukiro
5,NaN,NaN,Low Rise Residential,"14,544","16,374","30,716",Kicukiro
6,NaN,NaN,Plantation,"10,051","15,931","34,343",Kicukiro
7,Murinja,NaN,NaN,"4,463","17,387","41,105",Kicukiro
8,NaN,Gahanga,NaN,"23,217","29,674","41,105",Kicukiro
9,NaN,NaN,Farm Land (General),"23,217","29,674","41,105",Kicukiro
10,NaN,Gahosha,NaN,"23,217","25,578","41,105",Kicukiro
11,NaN,NaN,Farm Land (General),"23,217","24,502","41,105",Kicukiro
12,NaN,NaN,Wetland,"23,217","26,654","41,105",Kicukiro
13,NaN,Kaboshya,NaN,"23,217","28,773","41,105",Kicukiro
14,NaN,NaN,Farm Land (General),"23,217","28,773","41,105",Kicukiro
15,NaN,Kampuro,NaN,"9,235","16,768","35,122",Kicukiro
16,NaN,NaN,Farm Land (General),"9,235","15,846","35,122",Kicukiro
17,NaN,NaN,Low Rise Residential,"12,507","16,151","26,238",Kicukiro
18,NaN,NaN,Plantation,"10,489","17,999","32,022",Kicukiro
19,NaN,Kigasa,NaN,"8,983","16,137","36,846",Kicukiro
20,NaN,NaN,Farm Land (General),"8,983","13,449","36,846",Kicukiro
21,NaN,NaN,Low Rise Residential,"11,310","23,765","35,904",Kicukiro
22,NaN,NaN,Plantation,"10,026","15,010","31,703",Kicukiro
23,NaN,Mashyiga,NaN,"13,295","20,782","34,363",Kicukiro
24,NaN,NaN,Existing Forest,"15,621","19,754","24,718",Kicukiro
25,NaN,NaN,Farm Land (General),"13,295","21,169","34,363",Kicukiro
26,NaN,NaN,Low Rise Residential,"15,048","20,022","33,945",Kicukiro
27,NaN,NaN,Plantation,"13,370","21,288","33,746",Kicukiro
28,NaN,Nyabigugu,NaN,"9,940","15,444","37,243",Kicukiro

In [80]:
#Join both sections 
districts = ["Gasabo", "Kicukiro", "Nyarugenge", "Huye", "Muhanga","Musanze", "Nyagatare", "Rubavu","Bugesera","Gatsibo", "Kayonza", "Kirehe", "Ngoma", "Nyagatare", "Rwamagana", "Burera", "Gakenke", "Gicumbi", "Musanze", "Rulindo", "Gisagara", "Huye", "Kamonyi", "Muhanga", "Nyamagabe", "Nyanza", "Nyaruguru", "Ruhango", "Karongi", "Ngororero", "Nyabihu", "Nyamasheke", "Rubavu", "Rusizi", "Rustiro"]
#distrcits page number
district_page_n = [1, 97, 152, 199, 206, 225, 244, 251, 331, 355, 381, 400, 426, 447, 474, 494, 520, 548, 578, 596, 618, 640, 659, 674, 687, 712, 730, 746, 768, 792, 811, 833, 858, 874, 896, 916]
#Province Pages

prices = urban + rural
for index, district in enumerate(districts):
    for table in tables[district_page_n[index]-1:district_page_n[index+1]-1]:
        table["District"] = district

In [20]:
#Standardise column numbers to 7 columns
def stand_cols(section_obj, n_cols):
    for table_obj in section_obj:
        if len(table_obj.columns) < n_cols: #if table has less than the standard cols
            for col in range(int(n_cols - len(table_obj.columns))):
                table_obj.insert(col, str(col), [None for n in range(len(table_obj))], True) #add columns on the in the front
        else:
            pass
    return section_obj

In [83]:
urban_std = stand_cols(urban, 8)
rural_std = stand_cols(rural, 7)

In [120]:
rural[500].head(5)

  Sector Cell      Village  MIN    AVG    MAX District
0    NaN  NaN   Muturagara  539  1,670  4,868  Nyabihu
1    NaN  NaN    Rubona ii  419  1,342  4,730  Nyabihu
2    NaN  NaN  Rugarambiro  578  1,640  4,105  Nyabihu
3    NaN  NaN       Rugote  550  1,408  2,235  Nyabihu
4    NaN  NaN      Rwanika  338  1,655  6,203  Nyabihu

In [97]:
#urban[198]["test"] = urban[198]['MAX'].str.split(" ")
del urban[198]['Minimum Value Per Sqm Weighted Average Value Per Sqm Maximum Value Per Sqm']
del urban[198]['0']
del urban[198]['1']

In [95]:
urban[198][['MIN0','AVGO', 'MAX0']] = urban[198]['Minimum Value Per Sqm Weighted Average Value Per Sqm Maximum Value Per Sqm'].str.split(' ',2, expand=True)

In [27]:
#Standardise column headings
def headings(section,headings_list):
    for table in section:
        table.set_axis(headings_list, axis=1, inplace=True)

In [106]:
headings(urban_std, ['Sector', 'Cell', 'Village', 'Activity','MIN', 'AVG', 'MAX', 'District'])
headings(rural_std, ['Sector', 'Cell', 'Village', 'MIN', 'AVG', 'MAX', 'District'])

In [246]:
districts = ["Gasabo", "Kicukiro", "Nyarugenge", "Huye", "Muhanga","Musanze", "Nyagatare", "Rubavu","Bugesera","Gatsibo", "Kayonza", "Kirehe", "Ngoma", "Nyagatare", "Rwamagana", "Burera", "Gakenke", "Gicumbi", "Musanze", "Rulindo", "Gisagara", "Huye", "Kamonyi", "Muhanga", "Nyamagabe", "Nyanza", "Nyaruguru", "Ruhango", "Karongi", "Ngororero", "Nyabihu", "Nyamasheke", "Rubavu", "Rusizi", "Rustiro"]
districts_pages = [1, 97, 152, 199, 206, 225, 244, 251, 331, 355, 381, 400, 426, 447, 474, 494, 520, 548, 578, 596, 618, 640, 659, 674, 687, 712, 730, 746, 768, 792, 811, 833, 858, 874, 896]

In [107]:
pricing = urban + rural

In [108]:
pricing[100]

,Sector,Cell,Village,Activity,MIN,AVG,MAX,District
0,None,NaN,NaN,Plantation,"10,273","12,569","33,908",Kicukiro
1,None,NaN,Nyabikenke,NaN,"23,217","25,294","41,105",Kicukiro
2,None,NaN,NaN,Plantation,"23,217","25,294","41,105",Kicukiro
3,None,NaN,Rwamaya,NaN,"9,544","15,698","34,343",Kicukiro
4,None,NaN,NaN,Farm Land (General),"9,544","15,128","33,623",Kicukiro
5,None,NaN,NaN,Low Rise Residential,"14,544","16,374","30,716",Kicukiro
6,None,NaN,NaN,Plantation,"10,051","15,931","34,343",Kicukiro
7,None,Murinja,NaN,NaN,"4,463","17,387","41,105",Kicukiro
8,None,NaN,Gahanga,NaN,"23,217","29,674","41,105",Kicukiro
9,None,NaN,NaN,Farm Land (General),"23,217","29,674","41,105",Kicukiro
10,None,NaN,Gahosha,NaN,"23,217","25,578","41,105",Kicukiro
11,None,NaN,NaN,Farm Land (General),"23,217","24,502","41,105",Kicukiro
12,None,NaN,NaN,Wetland,"23,217","26,654","41,105",Kicukiro
13,None,NaN,Kaboshya,NaN,"23,217","28,773","41,105",Kicukiro
14,None,NaN,NaN,Farm Land (General),"23,217","28,773","41,105",Kicukiro
15,None,NaN,Kampuro,NaN,"9,235","16,768","35,122",Kicukiro
16,None,NaN,NaN,Farm Land (General),"9,235","15,846","35,122",Kicukiro
17,None,NaN,NaN,Low Rise Residential,"12,507","16,151","26,238",Kicukiro
18,None,NaN,NaN,Plantation,"10,489","17,999","32,022",Kicukiro
19,None,NaN,Kigasa,NaN,"8,983","16,137","36,846",Kicukiro
20,None,NaN,NaN,Farm Land (General),"8,983","13,449","36,846",Kicukiro
21,None,NaN,NaN,Low Rise Residential,"11,310","23,765","35,904",Kicukiro
22,None,NaN,NaN,Plantation,"10,026","15,010","31,703",Kicukiro
23,None,NaN,Mashyiga,NaN,"13,295","20,782","34,363",Kicukiro
24,None,NaN,NaN,Existing Forest,"15,621","19,754","24,718",Kicukiro
25,None,NaN,NaN,Farm Land (General),"13,295","21,169","34,363",Kicukiro
26,None,NaN,NaN,Low Rise Residential,"15,048","20,022","33,945",Kicukiro
27,None,NaN,NaN,Plantation,"13,370","21,288","33,746",Kicukiro
28,None,NaN,Nyabigugu,NaN,"9,940","15,444","37,243",Kicukiro

In [165]:
#Concat both sections first
urban_full = pd.concat([df for df in urban], axis=0, ignore_index=True)
rural_full = pd.concat([df for df in rural], axis=0, ignore_index=True)

In [166]:
#Concat Urban and Rural
pricing_df = pd.concat([urban_full, rural_full], axis=0, ignore_index=True)

In [168]:
pricing_df.loc[5751:5773,('MIN')] = pricing_df.loc[5751:5773]['AVG']
pricing_df.loc[5751:5773,('AVG')] = pricing_df.loc[5751:5773]['MAX']
pricing_df.loc[5751:5773,('MAX')] = pricing_df.loc[5751:5773]['District']
pricing_df.loc[5751:5800,('District')] = 'Huye'

In [172]:
pricing_df

,Sector,Cell,Village,Activity,MIN,AVG,MAX,District
0,Bumbogo,NaN,NaN,NaN,468,"11,872","36,746",Gasabo
1,NaN,Kinyaga,NaN,NaN,"2,065","13,940","36,746",Gasabo
2,NaN,NaN,Akakaza,NaN,"2,555","6,775","31,052",Gasabo
3,NaN,NaN,NaN,Farm Land (General),"2,555","6,009","31,052",Gasabo
4,NaN,NaN,NaN,Low Rise Residential,"5,960","7,540","16,174",Gasabo
...,...,...,...,...,...,...,...,...
25945,None,None,NaN,NaN,Gisozi,244,"1,505","8,225"
25946,None,None,NaN,NaN,Kigali,261,"1,796","10,167"
25947,None,None,NaN,NaN,Kirumbi,261,"1,043","2,835"
25948,None,None,NaN,NaN,Mubuga,262,"1,473","6,623"
25949,None,None,NaN,NaN,Nyamibombwe,282,"1,827","8,691"

In [177]:
pricing_df["MIN"] = pd.to_numeric(pricing_df["MIN"].str.replace(',',''))

ValueError: Unable to parse string "Sqm" at position 8180

In [181]:
#pricing_df.to_csv('prices.csv')

# Auto complete Columns

In [220]:
#df = pd.read_csv("prices.csv")
df.to_csv("prices.csv", index=False)

In [227]:
df['MAX'].idxmax()

5569

In [231]:
df.iloc[df['MIN'].idxmax():]

,District,Sector,Cell,Village,Activity,MIN,AVG,MAX
1339,Gasabo,Kimihurura,Kimihurura,Mutara,NaN,117118,140090,143382
1340,Gasabo,Kimihurura,Kimihurura,Mutara,LowRiseResidential,117118,140090,143382
1341,Gasabo,Kimihurura,Kimihurura,Rugarama,NaN,30569,61995,117202
1342,Gasabo,Kimihurura,Kimihurura,Rugarama,HealthFacilities,78502,80037,83728
1343,Gasabo,Kimihurura,Kimihurura,Rugarama,LowRiseResidential,63082,69866,117202
...,...,...,...,...,...,...,...,...
25943,Rustiro,Rusebeya,Ruronde,Gisozi,NaN,244,1505,8225
25944,Rustiro,Rusebeya,Ruronde,Kigali,NaN,261,1796,10167
25945,Rustiro,Rusebeya,Ruronde,Kirumbi,NaN,261,1043,2835
25946,Rustiro,Rusebeya,Ruronde,Mubuga,NaN,262,1473,6623
25947,Rustiro,Rusebeya,Ruronde,Nyamibombwe,NaN,282,1827,8691

In [209]:
df.Village = df['Village'].fillna(method='ffill')

In [211]:
db = df.to_dict()

In [212]:
for sector in db['Sector']:
    previous = sector -1
    try:
        if db['Sector'][sector] != db['Sector'][(previous)]:
            db['Cell'][sector] = ''
            db['Village'][sector] = ''
    except KeyError:
        pass

In [216]:
for sector in db['Cell']:
    previous = sector -1
    try:
        if db['Cell'][sector] != db['Cell'][(previous)]:
            db['Village'][sector] = ''
    except KeyError:
        pass

In [217]:
df = pd.DataFrame(db)

In [218]:
df.head(30)

,District,Sector,Cell,Village,Activity,MIN,AVG,MAX
0,Gasabo,Bumbogo,NaN,NaN,NaN,468,11872,36746
1,Gasabo,Bumbogo,Kinyaga,,NaN,2065,13940,36746
2,Gasabo,Bumbogo,Kinyaga,Akakaza,NaN,2555,6775,31052
3,Gasabo,Bumbogo,Kinyaga,Akakaza,FarmLand(General),2555,6009,31052
4,Gasabo,Bumbogo,Kinyaga,Akakaza,LowRiseResidential,5960,7540,16174
5,Gasabo,Bumbogo,Kinyaga,Karama,NaN,17368,22733,36746
6,Gasabo,Bumbogo,Kinyaga,Karama,FarmLand(General),17368,22733,36746
7,Gasabo,Bumbogo,Kinyaga,Kayumba,NaN,17368,20144,36746
8,Gasabo,Bumbogo,Kinyaga,Kayumba,FarmLand(General),17368,20144,36746
9,Gasabo,Bumbogo,Kinyaga,Masizi,NaN,17368,22425,36746
10,Gasabo,Bumbogo,Kinyaga,Masizi,FarmLand(General),17368,22425,36746
11,Gasabo,Bumbogo,Kinyaga,Muhozi,NaN,2065,11264,36746
12,Gasabo,Bumbogo,Kinyaga,Muhozi,FarmLand(General),2065,8506,32462
13,Gasabo,Bumbogo,Kinyaga,Muhozi,LowRiseResidential,3269,3776,6679
14,Gasabo,Bumbogo,Kinyaga,Muhozi,VacantLand,17368,21509,36746
15,Gasabo,Bumbogo,Kinyaga,Rindiro,NaN,17368,21261,36746
16,Gasabo,Bumbogo,Kinyaga,Rindiro,FarmLand(General),17368,21261,36746
17,Gasabo,Bumbogo,Kinyaga,Rubungo,NaN,2359,11734,33742
18,Gasabo,Bumbogo,Kinyaga,Rubungo,ExistingForest,4498,4954,8604
19,Gasabo,Bumbogo,Kinyaga,Rubungo,FarmLand(General),2359,12371,33742
20,Gasabo,Bumbogo,Kinyaga,Rubungo,LowRiseResidential,15359,17878,31051
21,Gasabo,Bumbogo,Kinyaga,Runyonza,NaN,17368,18294,36746
22,Gasabo,Bumbogo,Kinyaga,Runyonza,FarmLand(General),17368,18294,36746
23,Gasabo,Bumbogo,Kinyaga,Ryakigogo,NaN,4712,14160,36746
24,Gasabo,Bumbogo,Kinyaga,Ryakigogo,ExistingForest,17368,22462,36746
25,Gasabo,Bumbogo,Kinyaga,Ryakigogo,FarmLand(General),4712,9772,32352
26,Gasabo,Bumbogo,Kinyaga,Ryakigogo,LowRiseResidential,8804,10246,17910
27,Gasabo,Bumbogo,Kinyaga,Zindiro,NaN,3638,12574,36746
28,Gasabo,Bumbogo,Kinyaga,Zindiro,ExistingForest,6084,8765,31194
29,Gasabo,Bumbogo,Kinyaga,Zindiro,FarmLand(General),3638,9791,31439